/* General rules */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

li {
    list-style: none;
}
/* Utilities  */

.bg-white {
    background-color: white;
}

.va-middle {
    vertical-align: middle;
}

.bradius5{
    border-radius: 5px;
}

.bradius10{
    border-radius: 10px;
}
.container {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-bottom: 2rem;
    border-radius: 8px; 
}

/* Logo */

#logo {
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
}

#logo-text {
    font-size: 40px;
    font-weight: 900;
    
}

/* Buttons */
.buttons {
    padding: 5px 10px;
    font-weight: 300;
    border: 0; 
    color:white; 
}

.sky-blue-button {
    background-color: #47adf1;
}

#white-button {
    border: 0.5px solid grey;
    color: grey;
}

.red-button {
    background-color: rgb(170, 40, 40);
}

.purple-button {
    background-color: #9c72e4;
}

.dark-green-button {
    background-color: #64c0a9;
}

.orange-button {
    background-color: #f29d31;
}

.fuchsia-button {
    background-color: #d863a1;
}

.light-green-button {
    background-color: #b0c926;
}

/* Tasks */

.triangle {
    font-size: 2rem;
    vertical-align: middle;
}

#new-task {
    padding-top: 3rem;
}

.task {
    padding-bottom: 2rem;
}

.aligner {
    font-weight: 700;
    display: inline-block;
}
.task-title {
    color: 434750;

}

.task-item{
    margin-left: 5px;
    padding-bottom: 1rem;
}

.symbol {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    border: 2px solid

}

.check {
    color: #a0dbcf;
    border-color:  #a0dbcf;
}

.cancel {
    color: #f39994;
    border-color: #f39994;
}



