/* General rules */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

header {
    background-color: white;
}

/* Logo */

.logo-align {
    vertical-align: middle;
}

#logo {
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
}

#logo-text {
    font-size: 40px;
    font-weight: 900;
    
}

